/* ===== RESET ===== */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* ===== BODY ===== */

body{
  width:100vw;
  height:100vh;

  display:flex;

  overflow:hidden;

  font-family:Arial, Helvetica, sans-serif;

  background:#f3f4f6;
}

/* ===== SIDEBAR ===== */

.sidebar{
  width:220px;
  height:100vh;

  background:#1f2937;

  border-right:2px solid #111827;

  padding:15px;

  color:white;
}

/* ===== TITULO ===== */

.sidebar-title{
  margin-bottom:20px;

  font-size:22px;
}

/* ===== SIMBOLOS ===== */

.symbol{
  width:100%;

  padding:12px;

  margin-bottom:10px;

  background:#374151;

  border:1px solid #4b5563;

  border-radius:6px;

  text-align:center;

  cursor:grab;

  transition:0.2s;
}

/* ===== HOVER ===== */

.symbol:hover{
  background:#4b5563;
}

/* ===== CANVAS ===== */

.canvas{
  flex:1;

  position:relative;

  overflow:hidden;

  background:

    linear-gradient(
      to right,
      #d1d5db 1px,
      transparent 1px
    ),

    linear-gradient(
      to bottom,
      #d1d5db 1px,
      transparent 1px
    );

  background-size:20px 20px;
}

/* ===== NODOS ===== */

.node{
  position:absolute;

  width:140px;
  height:60px;

  cursor:move;

  user-select:none;
}

/* ===== SVG ===== */

.node svg{
  width:100%;
  height:100%;

  overflow:visible;
}
