@import url("./layout.css");
@import url("./gauges.css");
@import url("./components.css");

/* RESET */
body {
  margin: 0;
  background: #0f172a; /* fondo sólido */
  color: #e5e7eb;
  font-family: Arial, sans-serif;
}

/* PANEL */
.panel {
  text-align: center;
  padding-top: 40px;
}

h1 {
  color: #22c55e;
}

/* FILA */
.row {
  display: flex;
  justify-content: center;
  gap: 60px;
}

/* FASE */
.fase {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.valor {
  margin-top: 10px;
  font-size: 18px;
}
